/* common shared styles  */
*{
    margin: 0; padding: 0;
}
.text-primary{
    color:#FD6E0A ;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Pirata One', ;
    margin-top: 0px;
}
.btn-primary{
    border-radius: 5px;
background: #FD6E0A;
color: #FFF;
padding: 18px 35px;
font-size: 20px;font-weight: 700;
border: 0; 
}
header{
    background-image: url(../images/header_bg.png) ;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #fbefe3b3;
    margin-top: 0px;
}
.section-title{
    color:  #181818;
text-align: center;
font-size: 35px;
font-weight: 700;
}
.about-des, .what-des{
    color:  #757575;
text-align: center;
font-size: 18px;
font-weight: 400;
margin:30px 160px 30px;
}

/* nav styles  */
nav{
     display: flex;
     justify-content: space-between;
    padding: 50px 230px 0;
    
}
.navbar{

}
nav li{
    list-style: none;}
.navli{
      padding-right: 85px;
}
.navli a{
    color:  #474747;
    font-size: 20px;
    font-weight: 400;    
}    
nav h3 span{
    color:#FD6E0A ;
}
nav ul{
    display: flex;
    align-items: center;
}
li a{
    text-decoration: none;
}
nav h3{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

/* header section style  */


.header{
    margin: 45px 10px 0px 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: ;
  }
 .hardy{
   padding-right: 20px;
}
.header-content{
    align-items: center;
    max-width: 500px;
}
.header-greeting{
    color:  #474747;
font-size: 45px;
font-weight: 600;
padding-bottom: 10px;
}
.header-title{
    color:  #181818;
font-size: 85px;
font-weight: 700;
padding-bottom: 20px;
}
.header-description{
    padding-bottom: 20px;
}
.header-button span{
  padding-right: 40px;
}
.button-primary{
    margin-right: 15px;
}



/* about sectin styles */
.about{
    margin: 130px 230px 0px;
    background: #ffefe6;
}


.about-info{
    display: flex;
    justify-content: space-around;
    padding: 30px 180px 130px;
}
.about-title{
       padding: 130px 0 30px; 
}
.abt-info-title{
    color: #757575;
text-align: center;
font-size: 20px;
font-weight: 400;
}

.info-des{
    color: #757575;
text-align: center;
font-size: 20px;
font-weight: 700;
}


/* what i do section  */
.what-i-do{
    margin: 130px 230px 0px;
    /* background: #ffefe6; */
}
.all-skills{
    display: flex;
    justify-content: space-around;
    box-shadow: 10px;
    /* border: 1px solid black; */
}
.skill{
    margin-right: 24px;
    padding: 30px;
    box-shadow:1px 1px  10px;
}
.skill-img{
    width: 44px;
height: 44px;
padding-bottom: 20px;
}
.skill-title{
    color: #181818;
/* text-align: center; */
font-size: 20px;
font-weight: 700;
padding-bottom: 20px;}

